.App {
  display: flex;
  flex-direction: column; /* Stack the heading and card container */
  justify-content: flex-start; /* Align items at the top */
  align-items: center;
  min-height: 83vh;
  padding: 20px;
}

.projects-heading {
  font-size: 2.5rem; /* Adjust size as needed */
  margin-bottom: 30px; /* Space between heading and cards */
  font-weight: bold;
  color: #ffffff;
}

.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center; /* Center cards horizontally */
}

.card {
  width: 300px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 300px; /* Fixed height for images */
  object-fit: cover;
  margin: 15px 0; /* Adds spacing around the image */
  border-radius: 10px; /* Optional: Rounds image edges */
}

.card-content {
  text-align: center;
}

.card h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.subtitle {
  font-size: 1rem;
  color: #999494;
  margin-bottom: 10px;
}

.description {
  font-size: 1rem;
  color: #f5f4f4;
  margin-bottom: 20px;
}

.tag {
  display: inline-block;
  padding: 5px 10px;
  background-color: #000;
  color: #fff;
  border-radius: 15px;
  font-size: 0.9rem;
  font-weight: bold;
}
